{{template "base" .}}
{{ define "content"}}


<div class="container w-50 d-flex flex-column align-items-end">
    {{ if .UserInfo.ID}}
    <a class="btn btn-primary mt-3 " href="#postbtn" role="button">Comment post</a>
    {{ end }}

    <div class="card w-100 my-3">
        <div class="card-header">
            {{.Post.Title}}
        </div>
        <div class="row g-0">
            <div class="col-md-4 w-auto d-flex flex-column align-items-center justify-content-center">
                <img src="/assets/userprofile.png" class="" alt="..." style="max-width: 130px; height: 55%;">
                <p class="card-text my-1">{{.Post.Username}}</p>


            </div>

            <div class="col-md-8 flex-fill ">

                <div class="card-body h-100 d-flex flex-column justify-content-between">

                    <p class="card-text mt-2">{{.Post.Body}}</p>

                    <div class="container">
                        <p class="card-text d-inline-block"><small class="text-muted">
                                Created: {{.Post.CreationDate}}</small></p>



                        <div class="likes d-inline-block float-end">
                            <a class="btn btn-sm btn-success" href="/like?post={{ .Post.ID }}" role="button">
                                <span>{{.Post.LikeCount}}</span> Like</a>

                            <a class="btn btn-sm btn-danger" href="/dislike?post={{ .Post.ID }}" role="button">
                                <span>{{.Post.DislikeCount}}</span> Dislike</a>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


    {{ range .Comments }}
    <div class="card mb-3 w-100">
        <div class="row g-0">
            <div class="col-md-4 w-auto d-flex flex-column align-items-center justify-content-center">
                <img src="/assets/userprofile.png" class="w-auto" alt="..." style="max-width: 130px; height: 55%;">
                <p class="card-text my-1">{{.Username}}</p>


            </div>
            <div class="col-md-8 flex-fill ">
                <div class="card-body h-100 d-flex flex-column  justify-content-between">

                    <p class="card-text mt-2">{{.Body}}</p>

                    <div class="container">
                        <p class="card-text d-inline-block" style="margin: 0;"><small class="text-muted">Created:
                                {{.CreationDate}}</small>
                        </p>

                        <div class="likes d-inline-block float-end">
                            <a class="btn btn-sm btn-success " href="/like?comment={{ .ID }}" role="button">
                                <span>{{.Likes}}</span> Like</a>
                            <a class="btn btn-sm btn-danger" href="/dislike?comment={{ .ID }}"
                                role="button"><span>{{.Dislikes}}</span>
                                Dislike</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>


    {{ end }}




    <div class="w-75" id="postbtn">
        <form action="/addcomment?post={{.Post.ID}}" method="post">
            <textarea class="form-control mt-5 shadow rounded" name="body" id="body" rows="5" required></textarea>
            <button class="btn btn-primary float-end my-3" type="submit">Post</button>
        </form>
    </div>
</div>

{{ end}}