:root {
  --form-color: #434950;
  --select-bg: #3a3f44;
  --form-border: 1px solid rgb(97, 92, 92);
}

body {
  background-color: #263238;
}
.form-control,
.form-control:focus {
  background-color: var(--form-color);
  color: white;
  border: var(--form-border);
}

input[type="search"].form-control {
  background-color: rgb(54, 57, 66);
}
.card,
.list-group-item {
  border-radius: 0.35rem;
  background-color: #2e3a40;
}
.card-header {
  background-color: #374c56;
}
.bgdark {
  background-color: rgb(43, 39, 39);
}

/* Change autocomplete input background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #434950 inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}
/* END */

/* -------- */
/* Select 2 with single option*/

/* Removes border from hidden input behind the container */
.select2-container--default .select2-selection--single {
  border: none !important;
}

span.selection .select2-selection.select2-selection--multiple {
  background-color: var(--form-color) !important;
  color: white;
  border: var(--form-border);
}

#bap + .select2 .select2-selection__rendered {
  line-height: 30px;
  background-color: var(--form-color) !important;
  color: white;
  border: var(--form-border);
}

.select2-results__option--highlighted {
  background-color: rgb(61, 76, 99) !important;
}
/* Each result */
#select2-bap-results {
  background-color: var(--select-bg) !important;
}

/* Dropdown */
.select2-container--open .select2-dropdown {
  border: var(--form-border);
  background-color: var(--select-bg) !important;
}

/* Search field */
.select2-search input,
.select2-search input:focus {
  outline: none;
  background-color: var(--form-color);
  color: white;
  border: var(--form-border);
}
/* Selected option */
.select2-results__option--selected {
  background-color: rgb(65, 124, 124) !important;
}

/* Select 2 with single option END */
/* -------- */

/* Select 2 with multiple options*/

#select2-bap2-container li.select2-selection__choice {
  background-color: black !important;
  color: wheat;
  border: tomato;
}

/* Removes weird background from selected item in input */
.select2-search.select2-search--inline {
  background-color: var(--form-color) !important;
}

/* END */

@media only screen and (min-width: 600px) {
  #viewpost-container {
    width: 70%;
  }
}

@media only screen and (min-width: 1000px) {
  #viewpost-container {
    width: 50%;
  }
}
@media only screen and (min-width: 1400px) {
  #viewpost-container {
    width: 40%;
  }
}
