:root {
  --text-color: rgb(201, 182, 182);
  --form-color: #434950;
}

body {
  background-color: #263238;
}
.form-control,
.form-control:focus {
  background-color: var(--form-color);
  border: 0;
  color: var(--text-color);
}

.card,
.list-group-item {
  border: 0;
  border-radius: 0.35rem;
  background-color: #2e3a40;
}
.card-header {
  background-color: #374c56;
}
