:root {
  --form-color: #434950;
  --select-bg: #3a3f44;
  --form-border: 1px solid rgb(97, 92, 92);
  --lg-white: rgb(214, 207, 207);
}

body {
  background-color: #263238;
}
.form-control,
.form-control:focus {
  background-color: var(--form-color);
  color: var(--lg-white);
  border: var(--form-border);
}

input[type="search"].form-control {
  background-color: rgb(54, 57, 66);
}

.card-bg {
  background-color: #2e3a40;
}

.card-header {
  background-color: #374c56;
}
.bgdark {
  background-color: rgb(43, 39, 39);
}

.fa-thumbs-up {
  color: green;
}
.fa-thumbs-up:hover {
  color: black;
}

/* Change autocomplete input background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #434950 inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}
/* Autocomplete input background END */

/* Select 2 with single option*/

/* Select element */
.select2-container--default .select2-selection--single {
  background-color: var(--form-color) !important;
  border: var(--form-border);
  color: white;
}

/* Hovering over otion */
.select2-results__option--highlighted {
  background-color: rgb(61, 76, 99) !important;
}

/* Selected option */
.select2-results__option--selected {
  background-color: rgb(65, 124, 124) !important;
}

/* Each result */
#select2-bap-results {
  background-color: var(--select-bg) !important;
}

/* Dropdown */
.select2-container--open .select2-dropdown {
  border: var(--form-border);
  background-color: var(--select-bg) !important;
}

/* Search field inside dropdown*/
.select2-search input,
.select2-search input:focus {
  outline: none;
  background-color: var(--form-color);
  color: white !important;
  border: var(--form-border) !important;
}

.select2-selection__rendered {
  color: white !important ;
}

.select2-selection__placeholder {
  color: var(--lg-white) !important;
  font-size: 0.95rem !important;
}
/* Select 2 with single option END */

/* Select 2 with multiple options  */

/* Input with multiple options */
span.selection .select2-selection.select2-selection--multiple {
  background-color: var(--form-color) !important;
  border: var(--form-border);
}

span.selection .select2-selection.select2-selection--multiple:focus-within {
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%) !important;
}

.select2-search__field {
  color: white !important;
}

/* Multiple options in input (tags) */
#select2-bap2-container li.select2-selection__choice {
  background-color: #3a3f46 !important;
  color: var(--lg-white);
  border: var(--form-border);
}

/* Removes weird background from input (tags) */
.select2-search.select2-search--inline {
  background-color: var(--form-color) !important;
}

/* Button for the tags */
button.select2-selection__choice__remove {
  border-right: var(--form-color) !important;
}

/* Hover statea for the button for the tags */
button.select2-selection__choice__remove:hover {
  background-color: #59606b !important;
}

/* Select 2 with multiple options END */

@media only screen and (min-width: 600px) {
  #viewpost-container {
    width: 70%;
  }
}

@media only screen and (min-width: 1000px) {
  #viewpost-container {
    width: 50%;
  }
}
@media only screen and (min-width: 1400px) {
  #viewpost-container {
    width: 40%;
  }
}
