{{template "base" .}}
{{define "content"}}


<form action="/createpost" method="post">
    <div class="form-control">
        Title: <input type="text" name="title" id="title">
    </div>


    <div class="form-control">
        <textarea name="body" id="body" cols="30" rows="10"></textarea>
    </div>


    <select class="tag-select" multiple="multiple" name="tags" required>
      
      </select>
    
  

    <button type="submit">Create</button>

   
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
$(document).ready(function() {
    $('.tag-select').select2({
        tags: true,
        width: "50%"
    });
});
</script>
{{end}}