{{template "base" .}}
{{define "content"}}


<div class="container w-50 my-3 d-flex flex-column align-items-end gap-5 ">
    <div class="justify-self-end">
        <a class="btn btn-primary" href="/createpost" role="button">Create a post</a>
    </div>



    {{ range $post := .AllPosts }}

    <div class="card border-secondary w-100">
        <h5 class="card-header">Everyday electronics</h5>
        <div class="card-body">
            <p class="card-text "><a href="/post?id={{$post.ID}}" class="text-dark">{{$post.Title}}</a>
            </p>

            
            <small class="text-muted">Tags: 
                {{ range $post.Tags}}
                {{.}}
                {{end}}
            </small>
            <br>
            <small class="text-muted">Topic started: {{$post.CreationDate}}</small>

            <a class="btn btn-primary" href="/like?post={{ $post.ID }}" role="button"> <span>{{$post.LikeCount}}</span> Like</a>
            <a class="btn btn-primary" href="/dislike?post={{ $post.ID }}" role="button"><span>{{$post.DislikeCount}}</span> Dislike</a>
        </div>
    </div>


    {{end}}
</div>

{{end}}