{{template "base" .}}
{{define "content"}}
{{ if .UserInfo.ID}}
<div class="w-75 mx-auto text-end mt-5">
    <a class="btn btn-primary " href="/createpost" role="button">Create a post</a>
</div>

{{ end }}



{{ range $post := .AllPosts }}

<div class="card border-secondary mt-3 w-50 mx-auto">
    <h5 class="card-header">Everyday electronics</h5>
    <div class="card-body">
        <p class="card-text "><a href="/post?id={{$post.ID}}" class="text-dark">{{$post.Title}}</a>
        </p>


        <small class="text-muted">Created by Kristofer</small>
    </div>
</div>

{{ if $.UserInfo.ID}}
<div class="comment">
    <form action="/addcomment?post={{$post.ID}}" method="post">
        <textarea name="body" id="body" cols="30" rows="5"></textarea>
        <button type="submit">Add comment</button>
    </form>
</div>
{{end}}
{{end}}
{{end}}