{{template "base" .}}
{{define "content"}}
{{ if .UserInfo.ID}}
<a class="btn btn-primary" href="/createpost" role="button">Create a post</a>
{{ end }}
{{ range $post := .AllPosts }}
<div class="post">
    {{ $post.Username}}
    {{ $post.Title}}
    {{ $post.Body}}
</div>
{{ if $.UserInfo.ID}}
<div class="comment">
    <form action="/addcomment?post={{$post.PostID}}" method="post">
        <textarea name="body" id="body" cols="30" rows="5"></textarea>
        <button type="submit">Add comment</button>
    </form>
</div>
{{end}}
{{end}}
{{end}}