<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <style>
        .form-control {
            margin-bottom: 1rem;
        }

        .error {
            display: inline-block;
            margin: 0;
        }
    </style>

</head>

<body>
    <h2>Login</h2>
    {{ if .SuccesfulRegister}}
    <h3>Registration was succesful!</h3>
    {{ end }}

    <form action="/loginauth" method="get">
        {{ if .NotFound }}
        <div class="error_msg">
            <p>User doesnt exist</p>
        </div>
        {{ end}}
        <div class="form-control">
            Username: <input type="text" name="username" id="username">
        </div>
        <div class="form-control">
            Password: <input type="password" name="password" id="password">
            {{ if .WrongPassword}}
            <div class="error_msg">
                <p>Wrong passwords</p>
            </div>
            {{ end }}
        </div>

        <button type="submit">Login</button>
    </form>
</body>

</html>