<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>

    <style>
        .form-control{
            margin-bottom: 1rem;
        }

        .error {
            display: inline-block;
            margin: 0;
        }

    </style>
</head>
<body>
    
    <h2>Create an account</h2>
    
    <form action="/" method="post">
        <div class="form-control">
            Email: <input type="email" name="email" id="email" required>
            {{ if .TakenEmail}}
            <p class="error">Email already exists!</p>
            {{ end}}

        </div>
        

        <div class="form-control">
            Username: <input type="text" name="username" id="username" required>
            {{ if .TakenUn}}
            <p class="error">Username already exists!</p>
            {{ end}}
        </div>
        
        <div class="form-control">
            Password: <input type="password" name="password" id="password" required>
            {{ if .PswrdsNotEq}}
            <p class="error">Passwords dont match!</p>
            
            {{ end}}
        </div>

        <div class="form-control">
            Retype password: <input type="password" name="password2" id="password2" required>
        </div>
        
        
        <button type="submit">Register</button>
    </form>
</body>
</html>