<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>

    <style>
        .form-control{
            margin-bottom: 1rem;
        }



    </style>
</head>
<body>
    <h2>Register</h2>
    
    <form action="/" method="post">
        <div class="form-control">
            Email: <input type="text" name="username" id="username">
        </div>
        

        <div class="form-control">
            Username: <input type="text" name="username" id="username">
        </div>
        
        <div class="form-control">
            Password: <input type="text" name="password" id="password">
        </div>
        
        
        <button type="submit">Register</button>
    </form>
</body>
</html>