{{ define "searchbar"}}

<form action="/search" method="get" class="d-flex w-25" style="font-size: 5px;">
    <select class="selectpicker" data-live-search="true" title="Select a tag..." name="tags" id="test"
        data-width="100%">
        {{ range .AllTags}}
        <option style="background-color: #434950; color: rgb(216, 205, 205);" value="{{.}}">{{.}}
        </option>
        {{ end}}
    </select>
    <button type="submit" class="btn btn-primary btn-sm">Search</button>

</form>

<script>
</script>

{{ end}}