{{ template "base" .}}
{{ define "content" }}


<div class="container">
    <div class="row">
        {{ if and (not .LikedPosts) (not .CreatedPosts)}}
        <div class="col-6-lg col-md d-flex justify-content-center mt-5">
            <h2>You dont have any liked or created posts</h2>

        </div>

        {{ end }}
        {{ if .LikedPosts}}
        <div class="col-6-lg col-md">
            <div class="card w-100">
                <div class="card-header d-flex justify-content-between">
                    <span class="align-self-center">Liked posts</span>
                </div>
                <ul class="list-group list-group-flush">
                    {{ range .LikedPosts }}

                    <li class="list-group-item">
                        <p class="card-text "><a href="/post?id={{.ID}}">{{.Title}}</a>
                        </p>


                        <small class="text-muted">Tags:
                            {{ range .Tags}}
                            {{.}}
                            {{end}}
                        </small>
                        <br>

                        <div class="post-footer d-flex justify-content-between">
                            <small class="text-muted">Topic started: {{.CreationDate}}</small>
                            <div class="likes text-light">
                                <small>L {{.LikeCount}}</small>
                                <small>D {{.DislikeCount}}</small>
                            </div>

                        </div>

                    </li>
                    {{ end}}

                </ul>
            </div>
        </div>
        {{ end }}

        {{ if .CreatedPosts }}
        <div class="col-6-lg col-md">
            <div class="card w-100">
                <div class="card-header d-flex justify-content-between">
                    <span class="align-self-center">Created posts</span>
                </div>
                <ul class="list-group list-group-flush">
                    {{ range .CreatedPosts }}

                    <li class="list-group-item">
                        <p class="card-text "><a href="/post?id={{.ID}}">{{.Title}}</a>
                        </p>


                        <small class="text-muted">Tags:
                            {{ range .Tags}}
                            {{.}}
                            {{end}}
                        </small>
                        <br>
                        <div class="post-footer d-flex justify-content-between">
                            <small class="text-muted">Topic started: {{.CreationDate}}</small>
                            <div class="likes text-light">
                                <small>L {{.LikeCount}}</small>
                                <small>D {{.DislikeCount}}</small>
                            </div>

                        </div>
                    </li>
                    {{ end}}

                </ul>
            </div>
        </div>
        {{ end }}
    </div>

</div>


{{end}}